// background-color
// color

$black: #333;
$white: #fff;

$first: #D4C2AD;
$second: #D7A184;
$third: #BA8E7A;
$added: #EFDFCC;
$last: #66796B;

$typewolf: #E6DDDE;


// background-image
$blue-gradient: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);



