@font-face {
  font-family: 'DMSans-Bold';
  src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
    url('../fonts/DMSans-Bold.woff') format('woff');
  
}
@font-face {
  font-family: 'DMSans-Italic';
  src: url('../fonts/DMSans-Italic.woff2') format('woff2'),
    url('../fonts/DMSans-Italic.woff') format('woff');
  
}
@font-face {
  font-family: 'DMSans';
  src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
    url('../fonts/DMSans-Regular.woff') format('woff');
  
}